@font-face {
  font-family: "eos-icons";
  font-weight: normal;
  font-style: normal;
  src:
    url("~eos-icons/dist/fonts/eos-icons.eot") format("embedded-opentype"),
    url("~eos-icons/dist/fonts/eos-icons.woff2") format("woff2"),
    url("~eos-icons/dist/fonts/eos-icons.woff") format("woff"),
    url("~eos-icons/dist/fonts/eos-icons.ttf") format("truetype"),
    url("~eos-icons/dist/fonts/eos-icons.svg") format("svg");
}

.eos-icons {
  font-family: "eos-icons", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
