.elixir_ls


# Node.js dependencies
trento-docs-site/node_modules/
trento-docs-site-ui/node_modules/

# Ignore UI build artifacts
trento-docs-site-ui/public/

# Ignore docs output
trento-docs-site/build