services:
  trento-docs:
    image: node:20-bullseye
    volumes:
      - .:/workspace:z
      - ./trento-docs-site/node_modules:/workspace/trento-docs-site/node_modules
    working_dir: /workspace/trento-docs-site
    command: >
      bash -lc "
        npm install --no-save antora http-server &&
        npx antora antora-playbook.yml &&
        npx http-server build/trento-docs-site-public/ -c-1 -p 3000
      "
    ports:
      - "3000:3000"

  daps-build:
    image: registry.opensuse.org/documentation/containers/15.6/opensuse-daps-toolchain:latest
    working_dir: /tmp
    volumes:
      - .:/src
    command: >
      bash -lc "set -euo pipefail; cd /src/trento; rm -rf build/SLES-SAP-trento; daps --color=0 -d DC-SLES-SAP-trento html"
    restart: "no"

  daps-serve:
    image: node:20-bullseye
    working_dir: /srv
    ports:
      - "${PORT:-3001}:3001"
    volumes:
      - ./trento/build/SLES-SAP-trento/html/SLES-SAP-trento:/srv:ro
    command: >
      bash -lc "npx --yes http-server /srv -p 3001 -c-1"
    depends_on:
      daps-build:
        condition: service_completed_successfully
