<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <!--<a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a> -->
      <a class="navbar-item" href="https://www.trento-project.io/">
      <img src="{{uiRootPath}}/img/trento-logo-horizontal.svg" alt="Trento Icon">
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-wrapper" class="hidden medium">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
            <button id="search-close" class="hidden large"><i class="eos-icons">close</i></button>
          </div>
        </div>
      </div>
      <div class="search-icon hidden large">
        <button class="search-toggle">
          <i class="eos-icons">search</i>
        </button>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://www.trento-project.io/">Home</a>
        <a class="navbar-item" href="https://www.trento-project.io/about/">About</a>
        <a class="navbar-item" href="https://www.trento-project.io/blog/">Blog</a>
        <a class="navbar-item" href="https://github.com/trento-project">
        <img src="{{uiRootPath}}/img/github-grey-logo.svg" alt="Trento Icon"/>
        GitHub
        </a>
        </div>
        </div>
      </div>
    </div>
  </nav>
</header>